@import './gallery.css';

body {
  background-color: #FAFAFA;
  margin: 0;
}

nav {
  background-color: #FFF;
  height: 3.3em;
  line-height: 3.3em;
  padding: 0 1em;
  border-bottom: 0.1px solid #DBDBDB;
}

.logo {
  text-decoration: none;
}

.logo>img {
  vertical-align: middle;
}

.search {
  background: #FAFAFA;
  margin-left: 19em;
  height: 2em;
  width: 15.5em;
  border: 1px solid #DBDBDB;
}

.search::placeholder {
  text-align: center;
  color: #808080;
}

.nav-links {
  margin-left: 5em;
}

.nav-links>a {
  margin-left: 1.3em;
}

.nav-links i {
  transform: scale(1.6);
  color: #252525;
  vertical-align: middle;
}

.container {
  padding: 0 15%;
 

}

.bio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 13em;
  padding: 3em 0 0 3em;
  border-bottom: 0.2px solid #DBDBDB;
}

.profile-photo {
  background-color: brown;
  margin-right: 2em;
  margin-left: -2em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.profile-photo>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info .name {
  font-size: 1.7em;
  color: #545454;
}

.profile-info button {
  background-color: #0095F6;
  color: #fff;
  font-size: 1.1em;
  width: 6em;
  height: 2em;
  border: unset;
  cursor: pointer;
}

.edit-bio-form {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 17em;
  height: 7em;
  padding: 1em;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 3px 0px #333333bf;
}

.edit-bio-form input {
  margin-bottom: 0.5em;
  height: 2.5em;
  width: 19em;
}

.edit-bio-form button {
  background: #464646;
  color: #fff;
  cursor: pointer;
  height: 2em;
}
